@import "tailwindcss";

@font-face {
  font-family: "IranYekan";
  src: url("/assets/fonts/IranYekan.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "logo";
  src: url("/assets/fonts/Lexend.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "primary";
  src: url("/assets/fonts/IranSans.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --background: #fff;
  --foreground: #171717;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  direction: rtl;
  font-family: primary;
}
